/* medievalsharp-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/medievalsharp-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --form-shadow-y: 5px;
    --div-width: 75%
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
}

.main {
    height: 100%;
}

/* Left Side */

.imageContainer {
    flex: 1.25;
    background-image: url("images/leaves.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.logoContainer {
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(1rem + 8vh);
    font-family: "MedievalSharp", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.odinImage {
    height: 80%;
}

.photoCredit {
    margin: auto 0 5px 0;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.photoCredit a {
    color: white;
}

.photoCredit a:visited {
    color: lightblue;
}

/* Right Side  */

.mainContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: #f5f5f5;
}

.heroContainer, 
.formContainer,
.loginContainer {
    flex: 1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* hero */

.heroContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroDiv {
    width: var(--div-width);
    font-weight: bold;
    font-size: 1.35rem;
}

/* form */

.formContainer {
    background-color: white;
    box-shadow: 0 var(--form-shadow-y) 5px lightgrey;
    display: flex;
    justify-content: center;
}

.formDiv {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;
    width: var(--div-width);
}

.letsDoThis {
    font-size: 1.35rem;
    font-weight: bold;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: 100%;
}

.formRow {
    display: flex;
    gap: 10%;
    width: 100%;
}


/* login  */

.loginContainer {
    display: flex;
    justify-content: center;
}

.loginDiv {
    width: var(--div-width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.createAccount,
.login {
    margin-top: 6.5%;
}

.createAccount {
    max-width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
}

.login a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}


