/* medievalsharp-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/medievalsharp-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    display: flex;
}

.main {
    height: 100%;
}

.imageContainer {
    flex: 1.25;
    background-image: url("images/leaves.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

.logoContainer {
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(1rem + 8vh);
    font-family: "MedievalSharp", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.odinImage {
    height: 80%;
}

.photoCredit {
    margin: auto 0 5px 0;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.photoCredit a {
    color: white;
}

.photoCredit a:visited {
    color: lightblue;
}

.formContainer {
    flex: 2;
}




